@charset "UTF-8";
.item-desc-container{
	border: 2px black solid;
}

.item-option-container{
	border: 2px red solid;
	padding-left: 80px;
/* should be modified later!! */
	padding-bottom: 200px;
}

.main-item-image{
	width: 100%;
}

/* get black bottom border that separates item boxes */
.option-box{
	border-top: 1px solid black;
	margin: 15px auto;
}

.option-title-wrap{
	padding: 10px 0;
}

/* size option btn (red) */
.btn-wrap{
	display: inline-block;
	width: 45%;
}

.btn-size-option{
	cursor: pointer;
	width: 100%;
	border-radius: 40px;
	border: 1px solid #cecece;
	background-color: #fff;
	color: #888888;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 40px;
}

.checked-btn{
	background-color: #FF143C;
	color: #FFFFFF;
}

.checked{
	color: #FF143C;
}

/* dough */
.dough-info{
	width: 90%;
}

.dough-info-price{
	float: right;
}

.size-checkbox{
	visibility:visible;
}

form{
 	margin-top: 0;
}

/* tab style for topping option box */

.nav-pills{
	display:flex;
	margin-bottom:0;
}

.topping-tab{
	vertical-align: middle;

	border: 1.33px #dddddd solid;
	text-align: center;
}
.topping-tab.active {
	background-color: #000 !important;
}

.topping-tab.active > a{
	background-color: #000 !important;
}

/* common style for option list with images*/
.item-list-content{
	border: 1px #dddddd solid;
	height: 330px;
	width:100%;
	overflow: scroll;
}
.option-list{		
    
    height: 330px;
	padding: 30px;
	margin: 0;
}

.option-item{
	height: 90px;
	width: 90%;
	margin-bottom: 18px;
}

.option-item-image-wrap{
	padding:0;
border: 1px blue solid;
}

.option-item-image{
	height: 90px;
	width: 90px;
}

.option-item-content{
	margin: 0 auto;
border: 1px orange solid;
}

.option-item-content p{
border: 1px black solid;
}

.option-item-quantity{
	margin: 0 auto;
border: 1px red solid;
}


/* pizza-quantity specific button css */
.pizza-quantity-input-group{
	width: 450px;
}

.pizza-quantity-input{
	width: 100% !important;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	background-color: #fff !important;
}

/* style for footer-like cart box*/
#item-cart-container{
	witdh:100%;
	min-height: 150px;
	display: flex;
	background: #f5f5f5;
	padding-right: 8%;
	padding-left: 8%;
border: 2px blue solid;	

}


.item-subtotal-container{
	width: 300px;
	margin: 0 auto;
	float: left;
border: 1px orange solid;
}

.item-total-container{
	width: 20%;
	margin: 0 auto;
	float: right;	
border: 1px green solid;
}

.subtotal-title{
	font-size: 15px;
	font-weight: 800;
	margin-top: 8px;
}

.subtotal-item{
	font-size: 12px;
	margin: 0 auto;
}

.subtotal-box{
	font-size: 12px;
	margin: 0 5px;
}

.box-item{
	margin: 0 auto;
}


.btn-checkout{
	width: 120px;
	height: 46px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight:500;
	line-height: 46px;
	cursor: pointer;
	border-radius:0; 
	display: inline-block;
	margin: 8px auto;
}

#btn-order-now{
	background-color: #FF143C;
}

#btn-to-cart{
	background-color: #2E77A9;
}






