@charset "UTF-8";
.item-desc-container{
	
}

.item-option-container{
	padding-left: 80px;
/* should be modified later!! */
	padding-bottom: 200px;
}

.main-item-image{
	width: 100%;
}

/* get black bottom border that separates item boxes */
.option-box{
	border-top: 2px solid black;
	margin: 15px auto;
}

.option-title-wrap{
	padding: 10px 0;
}

.option-title-wrap p{
	font-size: 19px;
	font-weight: bold;
}

/* size option btn (red) */
.btn-wrap{
	display: inline-block;
	width: 45%;
}

.btn-size-option{
	cursor: pointer;
	width: 100%;
	border-radius: 40px;
	border: 1px solid #cecece;
	background-color: #fff;
	color: #888888;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 40px;
}

.checked-btn{
	background-color: #FF143C;
	color: #FFFFFF;
}

.checked{
	color: #FF143C;
}

/* dough */
.dough-info{
	width: 90%;
}

#frm-dough-option{
	padding: 0 2%;
}

.dough-info-price{
	float: right;
}

.size-checkbox{
	visibility:visible;
}

form{
 	margin-top: 0;
}

/* tab style for topping option box */

.nav-pills{
	display:flex;
	margin-bottom:0;
}

.topping-tab{
	vertical-align: middle;
	border: 1.33px #dddddd solid;
	text-align: center;	
}
.topping-tab : hover{
	background-color: #fff;	
}

.topping-tab.active {
	background-color: #000 !important;
}

.topping-tab.active > a{
	background-color: #000 !important;
}

/* common style for option list with images*/
.item-list-content{
	border: 1px #dddddd solid;
	height: 330px;
	width:100%;
	overflow: scroll;
}
.option-list{		  
    height: 330px;
	padding: 30px;
	margin: 0;
	text-align: center;
}

.option-item{
	height: 90px;
	margin: 2% 0;
}

.option-item-image-wrap{
	
}

.option-item-image{
	height: 90px;
	width: 90px;
}

.option-item-content{
	margin: 0 2%;
	margin: 0 auto;
	
}

.option-item-content p{
	text-align: left;
}

.option-item-quantity{
	margin: 0 auto;
}

.cs12{
	padding: 0;
}

.cs9{
	padding-top: 2%
}

.item_price{
	font-size: 17px;
}

.cs6{
	padding-top: 3%
}

/* pizza-quantity specific button css */
.pizza-quantity-input-group{
	width: 450px;
	margin: 0 auto;
}

.pizza-quantity-input{
	width: 100% !important;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	background-color: #fff !important;
}

/* style for footer-like cart box*/
#item-cart-container{
	witdh:100%;
	min-height: 150px;
	display: flex;
	background: #f5f5f5;
	padding: 1% 8%;
}


.item-subtotal-container{
	width: 300px;
	margin: 0 auto;
	float: left;
}

.item-total-container{
	width: 20%;
	margin: 0 auto;
	float: right;	
}

.subtotal-title{
	font-size: 15px;
	font-weight: 800;
	margin-top: 8px;
}

.subtotal-item{
	font-size: 12px;
	margin: 0 auto;
}

.subtotal-box{
	font-size: 12px;
	margin: 0 5px;
}

.box-item{
	margin: 0 auto;
}


.btn-checkout{
	width: 120px;
	height: 46px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	font-weight:500;
	line-height: 46px;
	cursor: pointer;
	border-radius:0; 
	display: inline-block;
	margin: 8px auto;
}

#btn-order-now{
	background-color: #FF143C;
}

#btn-to-cart{
	background-color: #2E77A9;
}
.subtotal-title{
	margin-right: 20px;
}

#total-price{
	font-size: 25px;
	font-weight: bold;
}

#order-btn{
	margin: 5% 0;
}

#pdContainer{
	padding: 3% 0;	
}

.toppings-info-wrap, .toppings-info1, .toppings-info2{
	padding: 1% 0;
	color:#888888;
}

.toppings-info-wrap h4{
	color:black;
}




