<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="com.domino.t1.util.Pager" alias="Pager"></typeAlias>
    
		<typeAlias type="com.domino.t1.member.MemberDAO" alias="MemberDAO"/>
		<typeAlias type="com.domino.t1.member.MemberDTO" alias="MemberDTO"/> 
		<typeAlias type="com.domino.t1.member.memberUser.MemberUserDTO" alias="MemberUserDTO"/>    
    
		<!-- item related aliases -->
		<typeAlias type="com.domino.t1.item.ItemDTO" alias="ItemDTO"/>
		<typeAlias type="com.domino.t1.item.dough.DoughDTO" alias="DoughDTO"/>
		<typeAlias type="com.domino.t1.item.pizza.PizzaDTO" alias="PizzaDTO"/>
		<typeAlias type="com.domino.t1.item.topping.ToppingDTO" alias="ToppingDTO"/>
		
		<!-- board related aliases -->
		<typeAlias type="com.domino.t1.board.faq.FaqDTO" alias="FaqDTO"/>
		<typeAlias type="com.domino.t1.board.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.domino.t1.board.news.dominoNews.DominoNewsDTO" alias="DominoNewsDTO"/>
		<typeAlias type="com.domino.t1.board.news.press.PressDTO" alias="PressDTO"/>
		<typeAlias type="com.domino.t1.board.file.BoardFileDTO" alias="BoardFileDTO"/>
		
		<!-- order related aliases -->
		<typeAlias type="com.domino.t1.coupon.CouponDTO" alias="CouponDTO"/>
		
		<typeAlias type="com.domino.t1.branchInfo.BranchInfoDTO" alias="BranchInfoDTO"/>
		
		<typeAlias type="com.domino.t1.address.delivery.AddressDeliveryDTO" alias="AddressDeliveryDTO"/>
		<typeAlias type="com.domino.t1.address.pickup.AddressPickupDTO" alias="AddressPickupDTO"/>
		
		<!-- cart related aliases -->
		<typeAlias type="com.domino.t1.cart.CartDTO" alias="CartDTO" />
		<typeAlias type="com.domino.t1.cart.CartDAO" alias="CartDAO" />
	</typeAliases>
</configuration>
