@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');  
  	* {		margin: 0px;
			padding: 0px;
    		box-sizing: border-box;
    		font-family: 'Noto Sans KR','Roboto', sans-serif;
		    vertical-align: baseline;
		    -webkit-text-size-adjust: 100%;
		    letter-spacing: -0.75px;
		}
	
	/* */
	.container {
	    width: 1200px;
	    padding: 0px;
	}
	 
	 
	a {
		text-decoration: none;
		color: #fff;
		background-color: transparent;
	}
	 
	.content {
		width: 100%;
		height: 1226px;
	}
	
	.sub-type .store {
		width: 100%;
		height: 1146px;
		padding-bottom: 80px;
	}
	
	.inner-box {
		position: relative;
		width: 1200px;
		height: 1146px;
		margin: 0 auto;
	}
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1em;
	    margin-top: 0px;
	    margin-bottom: 0px;
	}
	
	.page-title-wrap {
		position: relative;
		margin-top: 50px;
		height: 32px;
	}
	
	.page-title {
		font-size: 32px;
		color: #111;
		font-weight: 400;
	}
	
	.store-wrap {
		border-top: 2px solid #111;
		margin-top: 20px;
		width: 100%;
		height: 1094px;
	}
	
	.btn-wrap {
		width: 100%;
		height: 32px;
		margin: 50px 0 10px;
		text-align: right;
	}
	
	.btn-wrap > button {
	    font-weight: 400;
	    background: #222;
	    border-color: #222;
	    text-decoration: none;	
	    text-align: center;
	    color: white;
	}
	
	.btn-wrap .v4 {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		box-sizing: border-box;
		letter-spacing: -0.75px;
		text-decoration: none;
		display: inline-block;
		position: relative;
		text-align: center;
		border: 1px solid #ff143c;
		color: #fff;
		font-weight: 400;
		background: #222;
		border-color: #222;
		width: 105px;
		height: 32px;
		line-height: 32px;
		font-size: 14px;
	}
	
	.store-map-area {
		width: 100%;
		height: 1000px;
		overflow: hidden;
	}
	
	.store-map-wrap {
		width: 750px;
		height: 1000px;
		float: right;
	}
	
	.store-map {
		width: 750px;
		height: 100%;
	}
	
	#map {
		width:100%;
		height:100%;
		position:relative;
		overflow:hidden;
	}
	
	.store-search {
		width: 450px;
		height: 1000px;
		display: inline-block;
	    box-shadow: 3px 7px 35px 0px rgba(0, 0, 0, 0.15);
	    border-left: 1px solid #ddd;
    	border-bottom: 1px solid #ddd;
	    background-color: #ffffff;
	}
	
	/* Style the tab */
	.tab {
		overflow: hidden;
		background-color: #f1f1f1;
	}
	
	/* Style the buttons inside the tab */
	.tab button {
		background-color: #f5f5f5;
		color: #888888;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
	}
	
	.tab > .search-tab {
		width: calc(50%);
    	height: 55px;
	}
	
	/* Create an active/current tablink class */
	.tab button.active {
		color: #111;
    	background-color: #FFF;
    	font-weight: 600;
    	border-top: 1px solid #ccc;
	}
	
	/* Style the tab content */
	.tabcontent {
		/* display: none; */
		width: 449px;
		height: 148px;
	}
	
	.address-wrap .branch {
		width: 100%;
		height: 100%;
	}
	
	.store-wrap .address-wrap.branch .form-group {
		width: 100%;
		height: 102px;
		padding: 40px 30px 20px;
		margin: 0px;
	}
	
	.store-search .form-group.srch-type .form-region {
		float: left;
		display: inline-block;
		width: 168.5px;
		height: 42px;
		padding-right: 5px;
	}
	
	#form-region-first {
		margin: 0px 5px;
		padding-right: 0px;
		float: left;         
	}
	
	#search_branch {
		padding-right: 0px;
		float: left;         
	}
	
	.select-region {
		display: inline-block;
		margin-left: 0;
		line-height: 42px;
		width: 100%;
		border: 1px solid #ddd;
		font-size: 15px;
    	font-weight: bold;
	}
	
	#region1, #region2 {
		width: 100%;
		height: 42px;
		margin: -2px 0px 0px;
		padding: 0px 50px 0px 20px;
		border-style: none;
	}
	
	#btn-search {
		width: 42px;
		padding-right: 0px;
	}
	
	button {
		border: 0;
	}
	
	.form-group.srch-type .btn-search {
	    position: absolute;
	    display: inline-block;
	    width: 42px;
	    height: 42px;
	    line-height: 36px;
	    text-align: center;
	    background: #222;
	}
	
	.spcl-sale-branch {
		width: 100%;
		height: 46px;
		padding: 0px 40px 20px;
	}
	
	.switch-btn {
		display: inline-block;
		width: 222px;
		height: 26px;
	}
	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 66px;
	  height: 26px;
	  margin: 0 auto;
	}
	
	.switch input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	  border-radius: 34px;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 30px;
	  width: 30px;
	  left: 0px;
	  bottom: -2px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	  border: 1px solid #ddd;
	  border-radius: 50%;
	}
	
	input:checked + .slider {
	  background-color: #2196F3;
	}
	
	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
		border-color: #4fa5d8;
	}

	.switch-btn p {
		display: inline-block;
		margin-left: 4px;
		margin-bottom: 0px;
		vertical-align: -2px;
	    font-size: 15px;
	    font-weight: bold;
	    color: #888888;
	}
	
	.spcl-info {
		float: right;
		margin: 0;
		font-size: 14px;  
	}
	
	.spcl-info a {
		color: #ff8040;
	}
	
	/**/
	.form-item {
		width: 342px;
		height: 42px;
		margin-left: 0;
		
	}
	
	.form-item input {
		width: 333px;
		height: 42px;
		border: 1px solid #ddd;
	}
	
	
	.branch-addr-result {
		width: 449px;
		height: 382px;
		max-height: 728px;
		border-top: 1px solid #ccc; 
		margin: 0;
	}
	
	.branch-result-list {
		display: inline-block;
	    position: relative;
	    width: 100%;
	    height: 213px;
	    padding: 20px 0px 30px 32px;
	    border-bottom: 1px solid #ccc;
	    background-color: white;
	}
	
	.branch-addr-result dl {
		display: inline-block;
		width: 200px;
		height: 115px;
		padding-top: 10px;
		margin: 0;
		background-color: #8080c0;
	}
	
	.branch-addr-result .salenames {
		position: absolute;
	    right: 0;
	    display: inline-block;
	    width: 145px;
	    height: 70px;
	    margin: 0 30px;
	    vertical-align: top;
	}
	
	.branch-addr-result .salenames div {
		position: relative;
		display: inline-block;
		width: 70px;
		height: 70px;
		background-color: #ff143c;
		border-radius: 50%;
	}
	
	.branch-addr-result .salenames div.sale2 {
		position: absolute;
		margin-left: 5px;
    	background-color: #043088;
	}
	
	.branch-addr-result .br-detail {
		position: absolute;
		left: 0px;
	    bottom: 0px;
	    display: inline-block;
	    width: 417px;
	    height: 32px;
	    margin: 15px 0 30px 32px;
	}
	
	.br-detail .btn {
		width: 80px;
		height: 32px;
		color: #ffffff;
	}
	
	.br-detail .btn.type1 {
		display: inline-block;
		background-color: #888888;
		margin-right: 4px;
	}
	.br-detail .btn.type2 {
		display: inline-block;
		background-color: #111111;
	}
	
	.view-all-branch {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		overflow: auto;
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}
	
	.view-all-branch .view-all-popup {
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 150;
		background: #fff;
		width: 988px;
		height: 780px;
		margin-left: -494px;
		margin-top: -390px;
	} 
	
	.view-all-header {
		width: 100%;
		height: 77px;
		padding: 30px 0 24px;
		border-bottom: 1px solid #ddd;
		text-align: center;
		display: block;
	}
	
	.view-all-header > h2 {
		font-size: 22px;
		color: #111;
		font-weight: 600;
		line-height: 1em;
	}
	
	.view-all-map {
		padding: 0;
		width: 988px;
		height: 703px;
		overflow: auto;
		max-height: 703px;
	}
	
	.all-map-area {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	