@charset "UTF-8";
		a{
			color: black;
		}	
		
		.order-title-wrap{
			position: relative;
		    margin-top: 50px;
		}
		
		.order-title{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
			font-size: 32px;
			color: black;
			font-weight: 400;
		}
		
		.depth-area{
			position: absolute;
			right: 0;
		}
		
		.depth-area > ol{
			font-size: 0;	
		}
		
		.depth-area li{
			display: inline-block;
		    font-size: 13px;
		    color: #888888;	
		}
		
		.depth-area > strong{	
			color: #111;	
		}
		
		.depth-area li:before{	
			display: inline-block;
		    content: '';
		    margin: 3px 8px 2px 6px;
		    display: inline-block;
		    width: 6px;
		    height: 6px;
		    border-style: solid;
		    border-color: transparent #888888 #888888 transparent;
		    border-width: 0 1px 1px 0;
		    -webkit-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		
		.depth-area li:nth-child(1):before{
			display: none;
		}
		
		#select li a{
			font-size: 17px;
		}	
		