@charset "UTF-8";
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');
	
	
		* {
			margin: 0px;
			padding: 0px;
    		box-sizing: border-box;
    		font-family: 'Noto Sans KR','Roboto', sans-serif;
		}
				
		#header{
			width: 100%;
			height: 140px;
			background-color: white;
			border-bottom: 1px solid #e4e4e4;
		}
		
		.header_wrap{
			width: 100%;
			height: 85px;
			background-color: white;
		}
		
		#header_wrap_inner{
			width: 80%;
			height: 100%;
			margin: 0 auto;
			background-color: white;
		}
		
		#header_wrap_inner img{
			padding: 2% 0 2% 0;	
		}
		
		#header_wrap_inner .util_nav{
			width: 20%;
			padding:2%;
			float: right;
		}
		
		#header_wrap_inner .util_nav a{
			font-size: 13px;
			margin-left: 4%;
			font-weight: bold;
			color: black;
		}
		#header_wrap_inner .util_nav select{
			width:60px;
			margin-left: 4%;
			padding: 2%;
			border-radius: 15px;
			color: black;
			font-size: 13px;
		}
		
		#nav_wrap_inner .nav_more{
			padding-right: 0;	
		}
		
		.nav_wrap{
			width: 100%;
			height: 54px;
			position: relative;
		}
		
		#nav_wrap_inner{
			width: 100%;
			height: 90%;
			background-color: white;
		}
		
		ol, ul {
    		list-style: none;
		}
		
		a{
			text-decoration: none;
		}
		
		#nav_wrap_inner ul{
			padding-left: 0;
			font-size: 0;
		}
		
		#nav_wrap_inner li{
			padding:0 3%;
			margin-right: 4%;
			display: inline-block;
			font-size: 18px;
		}
		
		#nav_wrap_inner a{
			line-height: 48px;
			cursor: pointer;
		}
		
		#nav_wrap_inner li #nav_menu{
			padding-left: 0;
		}
		
		#nav_wrap_inner span{
			color: black;
			font-weight: bold;
		}
		
		#nav_wrap_inner .nav_more span{
    		font-size: 18px;
    		color: #111;
    		font-weight: bold;	
		}
		
		#sub_nav{
			width: 100%;
			height: 350px;
			position:absolute;
			left: 0%;
			top: 140px;
			z-index: 5;
			background-color: white;
			
		}
		#sub_nav_wrap{
			width: 80%;
			height: 100%;
			margin: 0 auto;
		}
		
		 #sub_nav_wrap .sub_nav_inner1{
		 	float: left;
			width: 65%;
			height: 100%;
			padding: 3% 2%;
		}
	
		.sub_nav_inner1 .inners{
			float: left;
			width: 30%;
			height: 100%;
			margin-right: 2%;
		}
		.inners_title{
			font-size: 17px;
			font-weight: bold;
			color: black;
		}
		
		 #sub_nav_wrap li{	
			font-size: 15px;
			margin-top:10%; 
			color: black;
		}
		 #sub_nav_wrap .sub_nav_inner2{
		 	width: 30%;
		 	height: 80%;
		 	margin: 3% 0%;
		 	padding: 3% 2%;
		 	float: right;
		 	border-left: 1px solid #ddd; 	
		 }
		 
		 .sections{
		 	width: 100%;
		 	height: 300px;
		 }
		 
		 .section_wraps{
		 	width: 80%;
		 	height: 100%;
		 	margin: 0 auto;
		 }
		 #section2_wrap{
		 	border-bottom: 1px solid  #ddd;
		 }
		 
		 #section2_wrap div{
		 	float: left;
		 	width: 50%;
		 	height: 100%;
		 	padding: 5% 0 5% 3%;
		 }
		 #section2_wrap .text{
		  	font-size: 50px;
		  	margin-bottom: 1%;
		  }
		  
		 #section2_inner1 span{
		 	 color: #ff143c;
		 	 
		 }
		 
		 #section2_inner2 span{
		 	 color: #1382ff;
		 }
		 
		 #section2_wrap p{
		 	padding-top: 2%;
		 	font-weight: bold;
		 	color: #888;
		 }
		 
		 #section3_wrap span{
		 	font-size: 30px;
		 	color: black;
		 }
		 #section3_wrap p{
		 	padding-top: 7%;
		 	font-weight: bold;
		 	color: #888;
		 }
		  
		 #section3_inner1{
		 	width: 30%;
		 	float: left;
		 	height: 100%;
		 	padding: 5% 0 5% 3%;
		 }
		 
		  #section3_inner2{
		 	width: 30%;
		 	float: left;
		 	height: 100%;
		 	padding: 5% 0 5% 3%;
		 }
		 
		  #section3_inner3{
		 	width: 40%;
		 	float: left;
		 	height: 100%;
		 	padding: 5% 0 5% 3%;
		 }
		 
		 #section4{
			background-color: #f6f6f6;
			padding: 1% 0;
		 }
		 .section4_inners1{
		 	float: left;
		 	width: 30%;
		 	height: 100%;
		 	padding: 2.5% 0 0 3%;
		 }
		 
		 .section4_inners1 .title_wrap p{
		 	font-size: 25px;
		 	color: black;
		 }
		 
		  .section4_inners1 .title_wrap strong{
		  	color: #238ece;
		  }
		  .title_wrap{
		  	margin-bottom: 5%;
		  }
		  
		  .section4_inners1 .btn_wrap a{
		   	border: 1px solid black;
			background-color: black;
			border-radius: 30px;
		  	color: white;
			font-size: 20px;
			padding: 3% 10%;
		  }
		 
		 .section4_inners2{
		 	float: left;
		 	width: 70%;
		 	height: 100%;
		 }
		 
		.section4_inners2 .card_box{
			padding-top: 2.5%;
		}
		.section4_inners2 .card_box div{
			float: left;
			width: 25%;
			height: 100%;
			text-align: center;
		}
		 #section5{
		 	width: 100%;
		 	height: 500px;
		 }
		 
		 #section5_wrap{
		 	width: 80%;
		 	height: 100%;
		 	margin: 0 auto;
		 	padding: 2% 0	
		 }
		 
		.section5_inners{
		 	width: 33.3%;
		 	height: 100%;
		 	margin: 0 auto;
		 }

		 #section5_wrap div{
		 	float: left;
		 	text-align: center;
		 }
		 
		#footer{
			width: 100%;
			height: 420px;
			border-top: 1px solid #ddd;
		}
		
		.footer_wrap1{
			width: 100%;
			height: 75%;
			margin: 0 auto;
			display: inline-block;
		}
		
		.footer_wrap1_inner1{
			float: left;
			width: 70%;
			height: 100%;
			padding: 2% 0 1% 10%;	
		}
		.footer_wrap1_inner2{
			float: left;
			width: 20%;
			height: 100%;
			padding: 2% 5% 2% 0;
		}
		
		.footer_order{
			float: left;
			width: 85%;
			height: 30%;
		}
		.footer_order img{
			float: left;
			padding: 1%;
		}
		
		.footer_order span{
			float: left;
			padding: 1%;
			font-size: 25px;
			font-weight: bold;
		}
		.footer_wrap1_inner1 .footer_contact{
			float: left;
			width: 85%;
			height: 15%;
			padding: 0;
		}
	
		.footer_wrap1_inner1 .footer_contact li{
			float: left;
			font-size: 17px;
			font-weight: bold;
			padding-right: 3%;	
		}
		
		.footer_wrap1_inner1 ul li a{
			color: #888;
		}
		.footer_wrap1_inner1 ul li #fc1{
			padding-left: 0;	
		}
		.footer_wrap1_inner1 .footer_info{
			float: left;
			width: 85%;
			height: 50%;
		}
		
		.footer_wrap1_inner1 .footer_info p{
			font-size: 12px;
			margin: 0;
		}
		
		.footer_wrap1_inner2 .footer_cont{
			float: left;
			width: 100%;
			height: 100%;
		}
		
		.footer_cont select{
			width: 100%;
			height: 40px;
			color: black;
			font-size: 13px;
			margin-bottom: 10%;
			border: none;
			border-bottom: 2px solid black;
		}
		
		.footer_cont .app_box{
			width: 100%;
			height: 30%;
			margin: 0;
		}
		
		.footer_cont .sns_box  {
			width: 100%;
			height: 30%;
		}
		
		.footer_cont .sns_box ul li{
			float: left;
			margin: 0 auto;
			padding: 3%;
		}
		
		.footer_wrap2{
			width: 100%;
			height: 25%;
			background-color: #f5f5f5;
		}
		.footer_wrap2_inner{
			width: 80%;
			height: 100%;
			margin: 0 auto;
			padding: 2% 0;
			
		}
		.footer_wrap2 ul li{
			float: left;
			margin-right: 2%;
			
		}
		
		.footer_wrap2 ul li img{
			float: left;
		}
		
		.footer_wrap2 ul li p{
			float: left;
			font-size: 11px;
			font-weight: bold;
		}

		