@charset "UTF-8";


/*  수량 조절 버튼 */
.btn-quantity-controller{
	border-radius: 40%;
}

.quantity-input{
	width: 50px !important;
	margin: 0 auto;
	display: inline-block;
	background-color: #fff !important;
	z-index:0 !important;
}

.btn-quantity-controller {
	z-index:1 !important;
}

