@charset "UTF-8";
	  .form-item{
			float: left;
			padding: 2px;
		}
		
		th{
			text-align: center;
			height: 50px;
			color: black;
			font-weight: bold;
		}
		
		td{
			text-align: center;
			height: 50px;
		}
		
		.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    		padding: 15px;
   		    line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
		}
		
		.list_con strong{
			color:  black;
		}
		
		.newsTitle{
			text-align: left;
		}
		
		.newsTitle strong{
			padding-left: 70px;
		}
		
		.list_write{
			width: 100px;
			height: 50px;
			background-color: #222222;
			float: right;
			text-align: center;
			line-height: 50px;
		}
		
		.list_write a{
			color: white;
			font-size: 17px;
		}
		
		#list_count{
			padding-top: 10px;
			float: right;
		}
		
		.pageNum{
			text-align: center;
		}
		
		.pageNum a{
			color: #888888;
		}
		
		#pageNums{
			padding: 5px;
		}