@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@300&display=swap');  
	* {		
  		margin: 0px;
		padding: 0px;
   		box-sizing: border-box;
   		font-family: 'Noto Sans KR','Roboto', sans-serif;
	    vertical-align: baseline;
	    -webkit-text-size-adjust: 100%;
	    letter-spacing: -0.75px;
	}


	.pop-layer {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		overflow: auto;
		background: rgba(0, 0, 0, 0.2);
	}

	.pop-layer .pop-regBranch {
		width: 1200px;
		height: 780px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 150;
		background: #fff;
		margin-left: -600px;
		margin-top: -390px;
	} 

	.pop-header {
		width: 100%;
		height: 77px;
		padding: 30px 0 24px;
		border-bottom: 1px solid #ddd;
		text-align: center;
		display: block;
	}
	
	.pop-header .pop-title {
		display: inline-block;
	    font-size: 22px;
	    color: #111;
	    font-weight: 600;
	    line-height: 1em;
	}
	
	.pop-content {
		width: 100%;
		height: 703px;
		padding: 0;
		overflow-y: auto;
		max-height: 703px; 
	}
	
	.pop-content .store-map-area {
		overflow: hidden;
		display: block;
	}
	
	.pop-content .store-map-area .store-map-wrap {
		float: right;
	}
	
	#map {
		display: block;
		position: relative;
		overflow: hidden;
		width: 750px; 
		height: 920px;
	}
	
	.store-search {
		width: 433px;
		height: 920px;
		display: inline-block;
	    box-shadow: 3px 7px 35px 0px rgba(0, 0, 0, 0.15);
	    border-left: none;
    	border-bottom: none;
	}

	/* Style the tab */
	.tab {
		overflow: hidden;
		background-color: #f1f1f1;
	}
	
	/* Style the buttons inside the tab */
	.tab button {
		background-color: #f5f5f5;
		color: #888888;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		font-size: 17px;
		width: calc(50%);
    	height: 55px;
	}
	
	/* Create an active/current tablink class */
	.tab button.active {
		color: #111;
    	background-color: #FFF;
    	font-weight: 600;
	}
	
	/* Style the tab content */
	.tabcontent {
		width: 433px;
		height: 148px;
	}
	
	.tabcontent .branch {
		width: 100%;
		height: 100%;
	}
	
	.tabcontent .branch .srch-type {
		width: 100%;
		height: 102px;
		padding: 40px 30px 20px;
		margin: 0 0 -15px 0; 
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	
	.tabcontent .srch-type .region {
		display: block;
		margin-left: 0;
		width: 160.5px;
		height: 42px;
	}
	
	.select-region {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
		line-height: 42px;
	}
	
	#second {
		margin-left: 5px;
	}
	
	#region1, #region2 {
		width: 100%;
		height: 100%;
		margin: -2px 0px 0px;
		padding: 0px 50px 0px 20px;
		border: 1px solid #ddd;
		color: #111111;
		font-size: 15px;
    	font-weight: bold;
	}
	
	#btnBranchSearch {
		width: 42px;
		height: 100%;
		padding-right: 0px;
		margin-left: 5px; 
	}
	
	#btnBranchSearch button {
		border: 0;
	    display: inline-block;
	    width: 42px;
	    height: 42px;
	    line-height: 36px;
	    text-align: center;
	    background: #222;
	}
	
	.spcl-sale-branch {
		width: 100%;
		height: 46px;
		padding: 0px 40px 20px;
		margin-top: 15px;
	}
	
	.switch-btn {
		display: inline-block;
		width: 222px;
		height: 26px;
	}
	
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 66px;
	  height: 26px;
	  margin: 0 auto;
	}
	
	.switch > input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	  border-radius: 34px;
	}
	
	.slider:before {
	  position: absolute;
	  content: "";
	  height: 30px;
	  width: 30px;
	  left: 0px;
	  bottom: -2px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .5s;
	  border: 1px solid #ddd;
	  border-radius: 50%;
	}
	
	input:checked + .slider {
	  background-color: #2196F3;
	}
	
	input:checked + .slider:before {
		transform: translateX(36px);
		border-color: #4fa5d8;
	}

	.switch-btn p {
		display: inline-block;
		margin-left: 4px;
		margin-bottom: 0px;
		vertical-align: -2px;
	    font-size: 15px;
	    font-weight: bold;
	    color: #888888;
	}
	
	.spcl-info {
		float: right;
		margin: 0;
		font-size: 14px;  
	}
	
	.spcl-info a {
		color: #ff8040;
	}
	/* 지역 검색 */
	
	/* 매장명 검색 */
	#brList {
		overflow-y: auto;
		overflow-x: hidden;
		max-height: 638px;
	}
	
	#search2 .form-item {
		width: 342px;
		height: 42px;
		margin-left: 0;
	}
	
	#search2 .form-item input {
		width: 333px;
		height: 42px;
		border: 1px solid #ddd;
	}
	
	
	.branch-addr-result {
		width: 433px;
		height: auto;
		max-height: 638px;
		border-top: 1px solid #ddd;
		margin: 0 auto;
	}
	
	#brInfos {
	    max-height: 638px;
	    overflow-y: auto;
	} 
	
	.branch-result-list {
		display: inline-block;
	    position: relative;
	    width: 100%;
	    height: 191px;
	    padding: 20px 0px 30px 32px;
	    border-bottom: 1px solid #ddd;
	    background-color: white;
	}
	
	.branch-addr-result .brLat, .brLon {
		display: none;
	}
	
	.branch-addr-result dl {
		display: inline-block;
		width: 200px;
		height: 93px;
		padding-top: 10px;
		margin: 0;
	}
	
	.branch-addr-result dl dt {
		width: 200px;
		height: 16px;
		font-size: 14px;
		color: #111;
		line-height: 1;
	}
	
	.branch-addr-result dl .brName {
		font-size: 14px;
	}
	
	.branch-addr-result dl .tel {
		margin-left: 5px;
		font-size: 14px;
	}
	
	.branch-addr-result dl > .br-addr {
		width: 200px;
		height: auto;
		margin-top: 8px;
		color: #111;
		font-size: 14px;
		line-height: 22px;
	}
	
	.branch-addr-result dl > .hash {
		width: 200px;
		height: auto;
		margin-top: 15px;
		font-size: 14px;
		line-height: 20px;
		color: #888888;
	}
	
	.branch-addr-result dl > .hash > span {
		display: block;
		width: 200px;
		height: auto;
	}
		
	.branch-addr-result .salenames {
	    display: inline-block;
	    right: 0;
	    width: 145px;
	    height: 70px;
	    margin: 0 0 0 30px;
	    vertical-align: top;
	}
	
	.branch-addr-result .salenames div {
		position: relative;
		display: inline-block;
		width: 70px;
		height: 70px;
		background-color: #ff143c;
		border-radius: 50%;
	}
	
	.branch-addr-result .salenames div.sale2 {
		position: absolute;
		margin-left: 5px;
    	background-color: #043088;
	}
	
	.branch-addr-result .salenames div span {
		position: absolute;
		width: 100%;
		height: auto;
		font-size: 13px;
		color: #fff;
		line-height: 1.3;
		left: 0;
	    top: 4%;
	    text-align: center;
	    padding: 9px;
	}
		
	.branch-addr-result .br-detail {
	    display: inline-block;
	    width: 401px;
	    height: 32px;
	    margin-top: 15px;
	    text-align: left;
	    left: 0px;
	    bottom: 0px;
	}
	
	.br-detail .btn {
		width: 80px;
		height: 32px;
		color: #ffffff;
		line-height: 17px;
	}
	
	.br-detail .btn.type1 {
		display: inline-block;
		background-color: #888888;
		margin-right: 4px;
	}
	
	.br-detail .btn.type2 {
		display: inline-block;
		background-color: #111111;
	}
	
	.pop-layer .pop-wrap .closebtn {
	  display: block;
	  position: absolute;
	  top: 28px;
	  right: 40px;
	  font-size: 25px;
	  color: black;
	  line-height: 1;
	}
	
	
	.view-detail .detail-info {
		width: 988px;
		height: 780px;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 150;
		background: #fff;
		margin-left: -494px;
		margin-top: -390px;
	} 
	
	.view-detail .detail-info .details {
		display: inline-block;
		padding: 50px 40px;
		overflow-y: auto;
		max-height: 703px; 
		width: 988px;
		height: 703px;
	}
	
	.details .store-view-detail {
		display: inline-block;
		width: 891px;
		height: auto;
	}
	
	.details .store-view-detail .store-detail-box {
		display: inline-block;
		width: 891px;
		height: 232px;
	}
	
	.store-detail-box ul {
		display: table;
		width: 100%;
		height: 232px;
		table-layout: fixed;
		list-style: none;
		margin: 0;
	}
	
	.store-detail-box ul #first-li {
		width: auto;
		height: 232px;
		border-right: 1px solid #ddd;
		padding-left: 97px;
		color: #000;
	}
	
	.store-detail-box ul #first-li #branch-name {
		width: 295px;
		height: auto;
		font-size: 40px;
		line-height: 48px;
		color: #111;
		font-weight: 600;
	}
	
	.store-detail-box ul #first-li .promotion {
		margin: 20px 0 40px;
		font-size: 14px;
		width: 347px;
		height: 14px;
		line-height: 1;
	}
	
	.promotion #online-sale {
		margin-right: 10px;
		color: #ff143c;
	}
	
	.promotion #offline-sale {
		color: #043088;
	}
	
	.store-detail-box ul li .enter-order {
		width: 100%;
		height: 62px;/*  */
		margin-top: 30px;
	    text-align: left;
	}
	
	.enter-order > .btn-enter {
	    width: 220px;
	    height: 62px;
	    color: #fff;
	    background-color: #ff143c;
	    border: 1px solid #ff143c;
	    font-size: 18px;
	    line-height: 62px;
	    font-weight: 600;
	}
	
	.store-detail-box ul #second-li {
		width: auto;
		height: 232px;
		padding-left: 55px;
		color: #000;
		font-size: 14px;
		display: table-cell;
		vertical-align: middle;
	}
	
	#second-li dl {
		width: 391px;
		height: 20px;
		margin: 33px 0 0 0;
	}
	
	#second-li dl:first-child {
		margin-top: 0;
	}
	
	#second-li dl dt {
		width: 90px;
		height: 20px;
		vertical-align: top;
		display: inline-block;
		font-size: 14px;
		color: #555555;
		line-height: 20px;
	}
	
	#second-li dl dd {
		width: calc(100%-90px);
		height: 20px;
		vertical-align: top;
		display: inline-block;
		font-size: 14px;
		color: #555555;
		line-height: 20px;
	}
	
	#pop-store .detail-info .details .store-map-area {
		position: relative;
		margin-top: 54px;
		height: 400px;
	}
	
	#map-detail {
		display: block;
		position: relative;
		overflow: hidden;
		width: 100%; 
		height: 400px;
	}
	
	
	
	
	
	
	
	
	
	
	
	