@charset "UTF-8";

.content {
}

#container{	
	padding-top: 140px;
	width: 80%;
}


.order-title-wrap{
	position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 17px 0;
}

.order-title{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-size: 32px;
	color: black;
	font-weight: 400;
}

.depth-area{
	position: absolute;
	padding-bottom: 28px;
	right: 0;
	
}

.depth-area > ol{
	font-size: 0;
		
}

.depth-area li{
	display: inline-block;
    font-size: 13px;
    color: #888888;	
}

.depth-area > strong{	
	color: #111;	
}

.depth-area li:before{	
	display: inline-block;
    content: '';
    margin: 3px 8px 2px 6px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-style: solid;
    border-color: transparent #888888 #888888 transparent;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.depth-area li:nth-child(1):before{
	
	display: none;
}

.store span{
	display: inline-block;
    margin:0px 10px 10px 0px;
    height: 30px;
    padding: 0 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    line-height: 30px;
}

.title-wrap{
	position: relative;
	padding: 18px 40px;
	background: #f5f5f5;
	border-top: 2px solid #111;
}

.title-type{
	font-size: 18px;
	font-weight: 700px;
	margin: 0;
}

.deli-info{
	position: relative;
	padding: 30px 40px;
	border-bottom: 1px solid #dddddd;
}

.address{
	margin-bottom: 14px;
	font-size: 20px;
	color: #111;
}

td{
	
	height: 120px;

	text-align: left;
  	vertical-align: middle;
/* 	position: relative; */
}

thead>tr>td{
	font-size: 14px;
    font-weight: 700;
    text-align: center;
    height: 54px;
    color: #111;
    padding: 20px 0 !important;
}

.item-image-wrapper, .desc-container, .quantity-wrapper, .item-selected {
 	vertical-align: middle !important;
}


.item-image-wrapper {
	width: 90px;
	height: 90px;
	display: inline-block;
	margin-right: 25px;
	padding-top: 5px;
	/* vertical-align: top !important; */
}
.item-image {
	width: 100%;
}

.desc-container {
	display: inline-block;
	text-align: left;
	/* margin-top: 20px; */
}

.desc-item-name{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 0;
}

.desc-item-option{
	font-size: 14px;
	font-weight: 500;
	color: #888888;
	margin-top: 5px;
	margin-bottom: 0;
}

.desc-item-price{
	font-size: 16px;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 0;	
}

.topping-item{
	margin-bottom: 0;
}

.topping-name{
	margin: 0 auto;
}


.delete-item-btn, .delete-topping-btn, #btn-empty-cart{
	cursor: pointer;
	color: #888888;
}

.delete-topping-btn {
	float: right;
}

.topping-container{
	text-align: 1eft;
	font-size: 14px;
    line-height: 26px;	
}

.input-group {
	width: 114px;
}

.cart-total-price-container {	
	text-align: right;
	width: 100%;
	border-top: 1px #ddd solid;
	border-bottom: 2px black solid;
}

.cart-total-price-wrapper {
	font-size: 20px;
	line-height: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	
}

#cart-total-price {
	font-size: 35px;
	line-height: 40px;
	margin-left: 15px;
	font-style: normal;
	font-weight: 500;
}

.btn-wrapper{
	width: 100%;
	height: 120px;
	display: block;
	position:relative;
	margin-bottom: 100px;
	
}

.btn-box{
	width: 40%;
	position:absolute;
	top:50%;

	margin-top: -30px;
	margin-left: 30%;
	text-align: center;
}

.btn-box div{
	height: 60px;
	width: 45%;
	display: inline-block;
	border: 1px #ddd solid;
	cursor: pointer;
	/* vertical-align: middle; */
	line-height: 60px;
	font-weight: 500;
	font-size: 18px;
}

#btn-menu-list{
	margin-right: 15px;
}

#btn-checkout{
	background-color: #ff143c;
    border: 1px solid #ff143c;
    color: #fff;
}

#disclaimer{
	display: block;
	padding-top: 50px;
	border-top: 1px #ddd solid;
}

.disclaimer-title{
	text-align: center;
	margin-top: 10px;
}

.disclaimer-title>p{
	font-size: 18px;
    font-weight: 500;
}

.disclaimer-list>ul>li{
	font-size: 13px;
    line-height: 24px;
    color: #888888;
    font-weight: 500;
}