<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.branchInfo.BranchInfoDAO">

	<select id="getRegion1" resultType="BranchInfoDTO" parameterType="BranchInfoDTO">
		select region1 from branch_info group by #{region1}
	</select>
	
</mapper>