<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.faq.FaqDAO">
	
	<select id="getList" resultType="FaqDTO" parameterType="FaqDTO">
		select * from faq where faq_type=#{faq_type}
	</select>
	
	<insert id="setInsert" parameterType="FaqDTO">
		insert into faq values(board_seq.nextval, #{board_title}, #{board_writer}, #{board_contents}, #{faq_type})
	</insert>
	
</mapper>