<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.member.memberUser.MemberUserDAO">


	<select id="getMemberSocialLogin" resultType="CouponDTO" parameterType="CouponDTO">
		select * from member_info where member_id=#{member_id}
	</select>

	<select id="getOneMember" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member_info where member_num=#{member_num}
	</select>

	<select id="getMemberList" resultType="MemberDTO" parameterType="Pager">
		select * from
		(select rownum R, N.* from 
		(select * from member_info where 
		<choose>
			<when test="kind == 'id'">
				member_id
			</when>
			
			<when test="kind == 'name'">
				member_name
			</when>
			
			<otherwise>
				member_phone
			</otherwise>
		</choose>
		like '%'||#{search}||'%' order by member_num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(member_num) from member_info
		where 
		<choose>
			<when test="kind == 'id'">
				member_id
			</when>
			<when test="kind == 'name'">
				member_name
			</when>
			<otherwise>
				member_phone
			</otherwise>
		</choose>
		like '%' || #{search} || '%'
	</select>
	
	<insert id="setMemberJoin" parameterType="MemberDTO">
		insert into member_info values(#{member_name},#{member_id},#{member_pw}, #{member_date}, #{member_phone},#{member_email}, #{member_level}, 
		#{member_pi_date}, #{member_pi_agg},#{member_clause_agg}, #{member_locate_agg},#{member_msg_agg},#{member_email_agg},#{member_post_agg}, 
		sysdate, MEMBER_NUM_SEQ.NEXTVAL)
	</insert>
	
	<select id="getMemberLogin" resultType="CouponDTO" parameterType="CouponDTO">
		select * from member_info where member_id=#{member_id} and member_pw=#{member_pw}
	</select>
	
	<select id="getMemberIdCheck" parameterType="MemberDTO" resultType="MemberUserDTO">
		select member_id from member_info where member_id = #{member_id}
	</select>
	
	<select id="getMemberPhoneCheck" parameterType="MemberDTO" resultType="MemberUserDTO">
		select member_phone from member_info where member_phone = #{member_phone}
	</select>
	
	<select id="getMemberEmailCheck" parameterType="MemberDTO" resultType="MemberUserDTO">
		select member_email from member_info where member_email = #{member_email}
	</select>
	
	<select id="getMemberCheck" parameterType="MemberDTO" resultType="MemberUserDTO">
		select * from member_info where member_pw=#{member_pw} and member_id=#{member_id}
	</select>
	
	<update id="setMemberUpdate" parameterType="MemberDTO">
		update member_info 
		set member_pw = #{member_pw}, member_date = #{member_date}, member_email = #{member_email} 
		, member_msg_agg = #{member_msg_agg}, member_email_agg = #{member_email_agg}, member_post_agg = #{member_post_agg} 
		where member_id = #{member_id}
	</update>
	
	<insert id="setInqBoardWrite" parameterType="MemberDTO">
		insert into member_inquirly values(#{member_num} ,member_inquirly_seq.nextval, #{inq_title}, #{inq_contents},
		sysdate, #{inq_state}, #{inq_type}, #{inq_shop}, #{inq_location})
	</insert>
	
	<select id="getInqBoardList" resultType="MemberDTO">
		select * from member_inquirly where member_num=#{member_num} order by inq_num desc
	</select>
	
	<select id="getOne" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member_inquirly where inq_num=#{inq_num}
	</select>
	
	<delete id="setMemberDelete" parameterType="MemberDTO">
		delete member_info where member_id = #{member_id}
	</delete>
	
	<select id="getMemberSearch" parameterType="MemberDTO" resultType="MemberDTO">
		select * from member_info where member_name = #{member_name} and member_date = #{member_date} and member_phone = #{member_phone}
	</select>
	
	<select id="getMemberSearchPw" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member_info where member_name = #{member_name} and member_date = #{member_date} and member_phone = #{member_phone}
	</select>
	
	<update id="setPassword" parameterType="MemberDTO">
		update member_info set member_pw = #{member_pw} where member_id = #{member_id}
	</update>
	

</mapper>