<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.address.AddressDAO">

	<delete id="setAddressDelete" parameterType="AddressDTO">
		delete member_address where address_num = #{address_num} 
	</delete>

	<select id="getMemberAddress" parameterType="CouponDTO" resultType="CouponDTO">
		select * from member_address where member_num = #{member_num} order by address_num desc
	</select>

	<insert id="setMemberAddress" parameterType="AddressDTO">
		insert into member_address values(#{member_num}, #{roadFullAddr}, address_num_seq.nextval)
	</insert>

</mapper>