<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.member.MemberDAO">

	<select id="getMemberList" resultType="MemberDTO">
		select * from member_info
	</select>
	
	<insert id="setMemberJoin" parameterType="MemberDTO">
		insert into member_info values(#{member_name},#{member_id},#{member_pw}, #{member_date}, #{member_phone},#{member_email}, #{member_level}, 
		#{member_pi_date}, #{member_pi_agg},#{member_clause_agg}, #{member_locate_agg},#{member_msg_agg},#{member_email_agg},#{member_post_agg}, 
		sysdate, MEMBER_NUM_SEQ.NEXTVAL)
	</insert>
	
	<select id="getMemberLogin" resultType="MemberDTO" parameterType="MemberDTO">
		select * from member_info where member_id=#{member_id} and member_pw=#{member_pw}
	</select>
	
	<select id="getMemberIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select member_id from member_info where member_id = #{member_id}
	</select>
	
	<select id="getMemberPhoneCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select member_phone from member_info where member_phone = #{member_phone}
	</select>
	
	<select id="getMemberEmailCheck" parameterType="MemberDTO" resultType="MemberDTO">
		select member_email from member_info where member_email = #{member_email}
	</select>

</mapper>