<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.item.pizza.PizzaDAO">
	<select id="getOne" parameterType="PizzaDTO" resultType="PizzaDTO">
		SELECT item.*, pizza.*
		FROM item LEFT JOIN pizza
		ON item.item_id = pizza.item_id
		WHERE item.item_category = 'pizza'
			AND item.item_id = #{item_id}
	</select>
	<select id="getPizzaListByType" parameterType="PizzaDTO" resultType="PizzaDTO">
		SELECT item.*, pizza.*
		FROM item LEFT JOIN pizza
		ON item.item_id = pizza.item_id
		WHERE item.item_category = 'pizza'
			AND pizza.pizza_type = #{pizza_type}
	</select>
</mapper>