<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.domino.t1.board.qna.QnaDAO">
	
	<insert id="setInsertFile" parameterType="BoardFileDTO">
		insert into qnaFile values(board_seq.nextval, #{board_num}, #{file_Name}, #{ori_Name})
	</insert>
	
	<insert id="setInsert" parameterType="QnaDTO">
   		 <selectKey keyProperty="board_num" resultType="Long" order="BEFORE">
   		 	select board_seq.nextval from dual
   		 </selectKey>
   		 	insert into qna values(#{board_num}, #{board_title}, #{board_writer}, #{board_contents}, sysdate,
   		 	 #{email}, #{phone}, #{qna_type}, #{branch_info}, #{order_num}, board_seq.currval, 0, 0)
   	</insert>
   	
   	<select id="getList" parameterType="Pager" resultType="QnaDTO">
		select * from
		(select rownum R, N.* from 
		(select * from qna where 
		
		<choose>
			<when test="kind == 'title'"> board_title </when>
			<when test="kind == 'writer'">  board_writer </when>
			<otherwise>  board_contents </otherwise>
		</choose>
		
		like '%'||#{search}||'%' order by ref desc, step asc) N)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(board_num) from qna
		where 
		<choose>
			<when test="kind == 'title'">  board_title </when>
			<when test="kind == 'writer'">  board_writer </when>
			<otherwise>  board_contents </otherwise>
		</choose>
		like '%' || #{search} || '%'
	</select>
    	
	<delete id ="setDelete" parameterType="QnaDTO">
    		delete qna where board_num=#{board_num}
    </delete>
    
    <insert id="setReply" parameterType="QnaDTO">
		insert into qna values (board_seq.nextval, #{board_title}, #{board_writer}, #{board_contents},sysdate,
		0,0,0,0,0,
		(select ref from qna where board_num=#{board_num}), 
		(select step+1 from qna where board_num=#{board_num}),
		(select depth+1 from qna where board_num=#{board_num}))
	</insert>
	
	<update id="setReplyUpdate" parameterType="QnaDTO">
		update qna set step=step+1 where 
		ref=(select ref from qna where board_num=#{board_num})
		and 
		step> (select step from qna where board_num=#{board_num})
	</update>
	
	<select id="getOne" parameterType="QnaDTO" resultMap="getOneResult">
		select Q.*, QF.* from
		qna Q left join qnaFile QF
		on Q.board_num = QF.board_num
		where Q.board_num=#{board_num}
	</select>
	
	<select id="getNum" resultType="Long">
    		select board_seq.nextval from dual
    </select>
	
	<resultMap type="QnaDTO" id="getOneResult">
		<id column="board_num" property="board_num"/>
		<result column="board_title" property="board_title"/>
    	<result column="board_writer" property="board_writer"/>
    	<result column="board_contents" property="board_contents"/>
    	<result column="regDate" property="regDate"></result>
    	<result column="email" property="email"/>
    	<result column="phone" property="phone"/>
    	<result column="qna_type" property="qna_type"/>
    	<result column="branch_info" property="branch_info"/>
    	<result column="order_num" property="order_num"/>			
  
		<collection property="boardFileDTOs" ofType="BoardFileDTO" javaType="java.util.List" >
    			<id column="file_Num" property="file_Num"></id>
    			<result column="file_Name" property="file_Name"/>
    			<result column="ori_Name" property="ori_Name"/>
    	</collection>
	
	</resultMap>
	
	
</mapper>